.header{
    background: var(--bg-primary);
    height: 80px;
    width: 100%;
}

.cart, .shop, .home{
    display: inline-block;
    position: relative;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.home{
    text-transform: uppercase;
}

.home-text, .shop-text, .cart-text{
    color: var(--text-primary);
}

.home-text{
    font-weight: 700;
    font-size: 3em;
    vertical-align: middle;
}



@media only screen and (max-width: 800px){
    .cart{
        right: 230px;
    }

    .shop{
        left: 5%;
    }
    .home{
        right: 10%;
        text-transform: uppercase;
        transform: translateX(60%);
    }
}

@media only screen and (min-width: 800px){
    .cart{
        left: 65%;
    }
    .shop{
        left: 15%;
    }
    .home{
        left: 50%;
        transform: translateX(-50%);
    }
}
